<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('images/fooding.jpg');"></div>
            <div class="carousel-caption">
                <h2>Fooding</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Lodging');"></div>
            <div class="carousel-caption">
                <h2>Lodging</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Travelling');"></div>
            <div class="carousel-caption">
                <h2>Travelling</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Shopping');"></div>
            <div class="carousel-caption">
                <h2>Shopping</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to VisitMeet
            </h1>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Fooding</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Lodging</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Travelling</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Shopping</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <!--
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Portfolio Heading</h2>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
    </div>
  -->
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">VisitMeet</h2>
        </div>
        <div class="col-md-6">
            <p>VisitMeet is the cheapeast way to travel</p>
            <ul>
                <li><strong>Travel in Cheapeast Way</strong>
                </li>
                <li>Help develop infrastructure in country you are travelling</li>
                <li>Cheapeast way for fooding</li>
                <li>Cheapeast way for travelling</li>
                <li>Cheapeast way for lodging</li>
                <li>Cheapeast way for shopping</li>
            </ul>
            <p>Your payment will help different countries develop their infrastructure.
              This is also way to provide employment to people from 3<sup>rd</sup> world countries. </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Visit our facebook page to know more.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="#"><i class="fa fa-facebook"></i> VisitMeet</a>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 3000 //changes the speed
  })
});
</script>
