<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('images/fooding.jpg');"></div>
            <div class="carousel-caption">
                <h2>Meetings and Eatings</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Lodgings');"></div>
            <div class="carousel-caption">
                <h2>Lodgings and Sleepings</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Travellings');"></div>
            <div class="carousel-caption">
                <h2>Guides and Travellings</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Exchanges');"></div>
            <div class="carousel-caption">
                <h2>Visiting and Shopping</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to VisitMeet
            </h1>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i>Meetings and Eatings</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i>Lodgings and Sleepings</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Guides and Travellings</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Visiting and Shopping</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <!--
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Portfolio Heading</h2>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= link_to page_path('portfolio-item') do %>
            <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
          <% end %>
        </div>
    </div>
  -->
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">VisitMeet</h2>
        </div>
        <div class="col-md-6">
            <p>VisitMeet is the least expensive way to travel the world</p>
            <ul>
                <li><strong>Travel a New Way</strong></li>
                <li>You can help develop infrastructure in the country you are travelling</li>
                <li>You can enjoy food and drink with local folks with our local guides</li>
                <li>You can save money on all travelling expenses, our guides know their stuff</li>
                <li>You can experience lodgings of the local kind and support those who appreciate it</li>
                <li>You can purchase fine crafts, textiles and other products and services of the local folk</li>
                <li>You can participate with the new world useable money, a stellar idea whose time has arrived</li>
            </ul>
            <p>Your travel with VisitMeet means we can all help different countries develop their infrastructure,
            beginning with the simplest of bridges in the areas where folks really need them. VisitMeet has
            developed a way to provide employment that truly empowers folks living in the developing countries.
            Our services make it so you truly do visit a country and meet the folks living there, receiving far
            more than money can buy in your visiting and meeting local folk wherever you go.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450" alt="fill me in with meaningful text">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <!-- restore this when you provide the href address to the link -->
                <!-- p>Visit our Facebook page to know more.</p -->
            </div>
            <div class="col-md-4">
                <!-- a class="btn btn-lg btn-default btn-block" href="#"><i class="fa fa-facebook"></i> VisitMeet</a -->
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function() {
  $('.carousel').carousel({
    interval: 3000 //changes the speed
  })
});
</script>
