<div class="container-fluid">
  <h1 class="text-center">Shopping Cart</h1>
  <hr>

    <%= render :partial => 'shopping_cart_item', :collection => @shopping_cart.shopping_cart_items %>

  <div class="row" style="text-align:center;margin-top:15px;">
		<b>Subtotal:</b> <%= number_to_currency @shopping_cart.subtotal %>
	</div>

	<div class="row" style="text-align:center;margin-top:15px;">
		<b>Taxes:</b> <%= number_to_currency @shopping_cart.taxes %><br>
	</div>

	<div class="row" style="text-align:center;margin-top:15px;">
		<b>Total :</b> <%= number_to_currency @shopping_cart.total %>
	</div>

	<div class="col-xs-12">
			<div class="btn-group pull-right" role="group" aria-label="..." style="margin-top:10px;">
				<%= link_to 'Back to Products', products_path, class: "btn btn-default btn-info" %>



          <!--
        <button type="button" class="btn btn-default btn-success">
          <span class="fa fa-shopping-cart"></span>
          &nbsp;Checkout
        </button> -->
			</div>
		</div>

</div>

<!-- http://www.bootply.com/UMqX9kYebg -->
