  <div class="row">
    <div class="col-md-12 text-center pagination-centered">
     <%= image_tag('home_page2.jpg', {id: 'twowhales', class: 'img-responsive',width: '100%', alt: 'Built by travelers, for travelers.'}) %>
      <div class="jumbotron">
        <h2>Hello World!
          <br>
           <%= t :welcome_to %>
           <b>VisitMeet</b>
        </h2>
        <div class="hometext">
          <%= t :introduction %>
          <br>
          <br> We are combining infrastructure development
          <br> with travelling with world
          <!-- TODO: fill in the blank address / other attributes available on modal -->
          <a href="#">
            <span data-toggle="modal" data-target=".useable-definition">useable</span>
          </a>
          money
          <br>
          <br>
        </div>
        <div class="quote">
          <i>Traveler, there is no path.
          <br> Paths are made by walking.
          <br>
          <span class="author"> - Antonio Machado</span>
        </div>
        </p>
        <div class="information text-center">
          <%= link_to('Our Information Page', '/visitors/index', class: 'btn btn-primary btn-medium', method: :get) %>
        </div>
        <div class="artshowcase">
          We begin by offering one human product
          <br>
          enjoyed by all who have eyes that see
          <br>
          <h4>
            <%= link_to 'A NEW AWARENESS', products_path %>
          </h4>
          ~ arted ~
          <br>
          <!-- p> TODO: create the blog page to make a working link
            <a class="btn btn-primary btn-large" href="#">Our Blog</a>
            <br>
          </p -->
          <p>
            <address>
              <strong>
                VisitMeet, Inc.
              </strong>
              <br> 10400 Santoc Tol, Aithpur, Ward No. 6
              <br> Kanchanpur, MNR, Nepal 94103
              <br>
              <abbr title="Phone">
                Ph:
              </abbr>
              +(977) 99-524-677
              <br>
              <br>
              <strong>
                Bishisht Bhatta
              </strong>
              <br>
              <a href="mailto:bhattabishisht@gmail.com">
                <span class="glyphicon glyphicon glyphicon-send" aria-hidden="true"></span>
                bhattabishisht@gmail.com
              </a>
            </address>
          </p>
        </div>
        <p>
          <br>
          Our 
          <a href='https://github.com/VisitMeet/visitmeet/wiki' target="_blank">
            Wiki
          </a>
          <br>
          <br>
        </p>
      </div>
    </div>
    <!-- h3 class="text-center">We currently offer these products ..</h3 -->
    <!-- # powered by google script at page bottom -->
    <!-- div id="map" style='width: 100%; height: 500px;'></div -->
    </div>
    <div class="github text-center">
      <br>
      <br>
      <br>
      <br> Are you not a programmer yet wonder what the codes look like ??
      <br> Codes shown in this Repository are the codes creating this site
      <br>
      <a class="btn btn-primary btn-medium" href="http://www.github.com/bishisht/visitmeet" role="button">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Our Open Source Code Repository at Github
      </a>
      <br> Programmers are invited to help build our sites and so enjoy the benefits
      <br> We are building two sites; VisitMeet.com & .org are Ruby on Rails apps
      <br> VisitMeet.net will empower world useable money on VisitMeet.com & .org 
      <br> Our .net site is being created with Node.js, Yeoman, Gulp and friends
      <br> Follow our Repository, watch our progress, contribute as you can see to do
      <br> Thank You
      <br>
    </div>
    <!--  MODAL START -->
    <div class="modal fade useable-definition" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <p>
            &nbsp; <strong>Definition of Useable, also Usable:</strong>
            <br> &nbsp;&nbsp; able or fit to be used
            <br>
            <br> &nbsp; <strong>Synonyms:</strong>
            <br> &nbsp;&nbsp; Fit for use, ready for use, able to be used, at someone's disposal, disposable;
            <br> &nbsp;&nbsp; working, in working order, functioning, functional, serviceable, operational,
            <br> &nbsp;&nbsp; up and running, accessible.
          </p>
        </div>
      </div>
    </div>
    <!--  MODAL END -->