<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "VisitMeet" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<!-- Custom Fonts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid">
<div class="row">
<div class="col-md-12 text-center pagination-centered">
<div class="jumbotron ">
<h2>
Hello, world! <br>
This is <b>visitmeet</b>.
</h2>
<p>
We are not for profit company aiming poverty allevation, cheap travelling,
employment and infrstructure development. <br>
<a class="btn btn-default" href="http://www.github.com/bishisht/visitmeet" role="button">
<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
Github
</a>
</p>
<p>
<a class="btn btn-primary btn-large" href="#">Our Blog</a>
<address>
<strong>VisitMeet, Inc.</strong><br>
10400 Santoc Tol, Aithpur, Ward No. 6<br>
Kanchanpur, MNR, Nepal 94103<br>
<abbr title="Phone">P:</abbr> +(977) 99-524-677
</address>

<address>
<strong>Bishisht Bhatta</strong><br>
<a href="mailto:#"> <span class="glyphicon glyphicon glyphicon-send" aria-hidden="true"></span> bhattabishisht@gmail.com</a>
</address>
</p>
</div>
</div>
</div>
</div>
</body>
</html>
