<div class="producttitle">
  <%= @product.title %>
</div>
<div class="productdescription">
  <%= @product.description %>
</div>
<div class="productprice">
  Product price: $ <%= @product.price %> US
</div>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <%= link_to 'Edit', edit_product_path(@product) %> &#124;
  <% end %>
<% end %>
<%= link_to 'Back', products_path, 'data-no-turbolink': true %>
